*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#heading{
 font-size: 25px;
 margin-bottom: 10px;
}
#Show_me_how_it_looks{
  margin-top: 10px;
  color: cadetblue;
}
button{
  width: 172px;
  height: 32px;
  margin-left: 1px;
  border-radius: 5px;
}
form input{
  height: 32px;
  border-radius: 5px;
}
form{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center;
  margin-bottom: 10px;
  
}
::placeholder{
  text-align: center;
}
img{
  width: 300px; 
  mix-blend-mode: multiply;
}
.header
{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 background-color: #ffcd9e;
 justify-content: center;
 align-items: center;
}
ul li img{
  height: 30px;
  width: 30px;
}
ul{
  list-style-type: none;
}
.footer{
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}
.dweep_io{
  text-align: right;
}
