.fcontainer {
  display: flex;
  background-color: #ffcd9e;
  padding: 50px;
  justify-content: center;
  height: 350px;
  width: 800px;
  margin-left: 200px;
}
.column {
  display: flex;
  flex-direction: column;
}
#box {
  display: flex;
}
#email {
  height: 30px;
  border-radius: 5px;
}
::placeholder {
  padding-left: 10px;
}
#button {
  margin-left: 10px;
  background-color: black;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
}
#image {
  height: 350px;
  width: 350px;
  mix-blend-mode: multiply;
}
.footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 16px;
  height: 130px;
  width: 900px;
  margin-left: 200px;
}
.foot {
  list-style-type: none;
}
#f1 {
  padding-left: 0px;
  padding-right: 200px;
}
#f2 {
  text-align: right;
  padding-right: 50px;
}
#para1 {
  font-size: 30px;
}
#para2 {
  font-size: 20px;
  color: #484848;
}
#para3 {
  font-size: 20px;
}
#para4 {
  font-size: 20px;
  color: white;
}
